<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="StrojnaDb"
			 providerName="System.Data.OleDb"
			 connectionString="Provider=SQLOLEDB.1;Password=SAPspc;Persist Security Info=True;User ID=SAPspc;Initial Catalog=strojna;Data Source=172.20.1.14" />
		<add name="SinaproDb"
			 providerName="System.Data.OleDb"
			 connectionString="Provider=SQLOLEDB.1;User ID=sinabit;Password=ticmis;Persist Security Info=True;Initial Catalog=SinaproNG;Data Source=mes;" />
        <add name="SapPrijavaDb"
             providerName="System.Data.OleDb"
             connectionString="Provider=SQLOLEDB.1;Password=SAPspc;Persist Security Info=True;User ID=SAPspc;Initial Catalog=SAPkontrola;Data Source=172.20.1.14" />
	</connectionStrings>
	<userSettings>
		<SapSpcWinForms.Properties.Settings>
			<setting name="UiLanguage" serializeAs="String">
				<value>sl</value>
			</setting>
		</SapSpcWinForms.Properties.Settings>
	</userSettings>
</configuration>