<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SapSpcWinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="DefaultComPort" value="COM3" />
        <!-- Nočno poročilo meritev izven mej (SapSpcWinForms.exe /porocilo) -->
        <!-- Prejemniki: prejemniki.txt poleg exe, en e-naslov na vrstico (# = komentar).
             Porocilo.Prejemniki se uporabi le, če datoteke ni. /test pošlje samo TestniPrejemniki. -->
        <add key="Porocilo.PrejemnikiDatoteka" value="prejemniki.txt" />
        <add key="Porocilo.Prejemniki" value="robert.zorjan@egoproducts.com" />
        <add key="Porocilo.TestniPrejemniki" value="beno.stare@egoproducts.com" />
        <add key="Porocilo.SmtpStreznik" value="mailrelay.bfits.com" />
        <add key="Porocilo.SmtpPort" value="25" />
        <add key="Porocilo.Posiljatelj" value="it.slovenia@egoproducts.com" />
        <add key="Porocilo.PosiljateljIme" value="SapSpc poročilo" />
    </appSettings>
	<connectionStrings>
		<add name="StrojnaDb"
			 providerName="System.Data.OleDb"
			 connectionString="Provider=SQLOLEDB.1;Password=SAPspc;Persist Security Info=True;User ID=SAPspc;Initial Catalog=strojna;Data Source=172.20.1.14" />
		<add name="SinaproDb"
			 providerName="System.Data.OleDb"
			 connectionString="Provider=SQLOLEDB.1;User ID=sinabit;Password=ticmis;Persist Security Info=True;Initial Catalog=SinaproNG;Data Source=mes;" />
        <add name="SapPrijavaDb"
             providerName="System.Data.OleDb"
             connectionString="Provider=SQLOLEDB.1;Password=SAPspc;Persist Security Info=True;User ID=SAPspc;Initial Catalog=SAPkontrola;Data Source=172.20.1.14" />
	</connectionStrings>
	<userSettings>
		<SapSpcWinForms.Properties.Settings>
			<setting name="UiLanguage" serializeAs="String">
				<value>sl</value>
			</setting>
		</SapSpcWinForms.Properties.Settings>
	</userSettings>
</configuration>
