<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SapSpcWinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="DefaultComPort" value="COM3" />
        <!-- 0/false = per-character sample numbering (default); 1/true = legacy Delphi-style numbering -->
        <add key="Sap.LegacySampleNumbering" value="0" />
    </appSettings>
	<connectionStrings>
		<add name="StrojnaDb"
			 providerName="System.Data.OleDb"
			 connectionString="Provider=SQLOLEDB.1;Password=SAPspc;Persist Security Info=True;User ID=SAPspc;Initial Catalog=strojna;Data Source=172.20.1.14" />
		<add name="SinaproDb"
			 providerName="System.Data.OleDb"
			 connectionString="Provider=SQLOLEDB.1;User ID=sinabit;Password=ticmis;Persist Security Info=True;Initial Catalog=SinaproNG;Data Source=mes;" />
        <add name="SapPrijavaDb"
             providerName="System.Data.OleDb"
             connectionString="Provider=SQLOLEDB.1;Password=SAPspc;Persist Security Info=True;User ID=SAPspc;Initial Catalog=SAPkontrola;Data Source=172.20.1.14" />
	</connectionStrings>
	<userSettings>
		<SapSpcWinForms.Properties.Settings>
			<setting name="UiLanguage" serializeAs="String">
				<value>sl</value>
			</setting>
		</SapSpcWinForms.Properties.Settings>
	</userSettings>
</configuration>
